@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    display: flex;
    animation: marquee 100s linear infinite;
  }
  